{% extends "star/stars_base.html" %}

{% block active_vstar_tab %}active{% endblock active_vstar_tab %}

{% block tab_content %}
<table class="table" id="vstar_table">
    <thead>
        <tr>
            <th scope="col">天干</th>
            <th scope="col">星曜</th>
            <th scope="col">化曜</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in star_vstars %}
        <tr>
            {% if item.star_id == edit_star_id and item.gan_id == edit_gan_id %}
            <td>{{ item.gan }}</td>
            <td>{{ item.star }} </td>
            <td>
                <select class="form-select" aria-label="化曜" id="vstar" name="vstar">
                    {% for vstar in vstars %}
                    <option value="{{ vstar.id }}" {% if vstar.name==item.vstar %}selected{% endif %}>{{ vstar.name }}
                    </option>
                    {% else %}
                    <option value="-1">请先创建化曜</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="update({{item.gan_id}}, {{item.star_id}})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path
                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z">
                        </path>
                    </svg>
                    <span class="visually-hidden">修改星曜分类</span>
                </button>
            </td>
            {% else %}
            <td>{{ item.gan }}</td>
            <td>{{ item.star }} </td>
            <td>{{ item.vstar }}</td>
            <td>
                <form action="/stars/vstar/edit" method="get">
                    <input type="text" name="gan_id" value="{{ item.gan_id}}" hidden />
                    <input type="text" name="star_id" value="{{ item.star_id}}" hidden />
                    <button type="submit" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z">
                            </path>
                        </svg>
                        <span class="visually-hidden">编辑</span>
                    </button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function update(gan_id, star_id) {
        var vstar_id = Number($("#vstar ").val());
        $.ajax({
            type: "put",
            contentType: "Content-Type: application/json",
            url: "/api/stars/vstar",
            data: JSON.stringify({
                gan_id,
                star_id,
                vstar_id
            }),
            success: function (result) {
                $(location).attr("href", "/stars?list=vstars")
            },
            error: function (e) {
                var el = `<div class="alert alert-warning alert-dismissible fade show" role="alert">${e.responseText}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`;
                $(el).insertAfter("#vstar_table");
            }
        });
    }


</script>
{% endblock tab_content %}