{% extends "star/stars_base.html" %}

{% block active_vstar_tab %}active{% endblock active_vstar_tab %}

{% block tab_content %}
<table class="table" id="vstar_table">
    <thead>
        <tr>
            <th scope="col">天干</th>
            <th scope="col">星曜</th>
            <th scope="col">化曜</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in star_vstars %}
        <tr>
            <td>{{ item.gan }}</td>
            <td>{{ item.star }} </td>
            <td>{{ item.vstar }}</td>
            <td>
                <div class="row">
                    <div class="col-3">
                        <form action="/stars/vstar/edit" method="get">
                            <input type="text" name="gan_id" value="{{ item.gan_id}}" hidden />
                            <input type="text" name="star_id" value="{{ item.star_id}}" hidden />
                        <button type="submit" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z">
                                </path>
                            </svg>
                            <span class="visually-hidden">编辑</span>
                        </button>
                        </form>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-secondary"
                            onclick="del({{item.gan_id}}, {{item.star_id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
                                </path>
                            </svg>
                            <span class="visually-hidden">删除</span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr id="add">
            <td>
                <select class="form-select" aria-label="天干" id="gan" name="gan">
                    {% for item in gan %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% else %}
                    <option value="-1">请先创建天干</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select" aria-label="星曜" id="star" name="star">
                    {% for star in stars %}
                    <option value="{{ star.id }}">{{ star.name }}</option>
                    {% else %}
                    <option value="-1">请先创建星曜</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select" aria-label="化曜" id="vstar" name="vstar">
                    {% for item in vstars %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% else %}
                    <option value="-1">请先创建化曜</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-primary" onclick="add()">新增</button>
            </td>
        </tr>
    </tbody>
</table>
<script>
    function add() {
        var gan = Number($("#gan ").val());
        var star = Number($("#star ").val());
        var vstar = Number($("#vstar ").val());
        $.ajax({
            type: "post",
            contentType: "Content-Type: application/json",
            url: "/api/stars/vstar",
            data: JSON.stringify({
                gan_id: gan,
                star_id: star,
                vstar_id: vstar
            }),
            success: function (result) {
                $(location).attr("href", "/stars?list=vstars")
            },
            error: function (e) {
                var el = `<div class="alert alert-warning alert-dismissible fade show" role="alert">${e.responseText}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`;
                $(el).insertAfter("#vstar_table");
            }
        });
    }

    function del(gan_id, star_id) {
        $.ajax({
            type: "delete",
            contentType: "Content-Type: application/json",
            url: `/api/stars/vstar/${gan_id},${star_id}`,
            success: function (result) {
                $(location).attr("href", "/stars?list=vstars")
            },
            error: function (e) {
                var el = `<div class="alert alert-warning alert-dismissible fade show" role="alert">${e.responseText}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`;
                $(el).insertAfter("#vstar_table");
            }
        });
    }
</script>
{% endblock tab_content %}