{% extends "base.html" %}
{% block active_power %}active{% endblock active_power %}
{% block content %}
<h4 class="text-center">星曜力量</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for power in powers %}
        <tr>
            <th scope="row">{{ power.id }}</th>
            <td>{{ power.name }}</td>
            <td>
                <form action="/powers/{{ power.id}}" method="post">
                    <input type="number" value="{{ power.id}}" hidden />
                    <button type="submit" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
                            </path>
                        </svg>
                        <span class="visually-hidden">删除</span>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="row">#</th>
            <td colspan="2">
                <form method="post" action="/powers">
                    <div class="row">
                        <div class="col">
                            <select class="form-select" aria-label="星曜力量" name="name">
                                <option value="庙" selected>庙</option>
                                <option value="旺">旺</option>
                                <option value="得">得</option>
                                <option value="利">利</option>
                                <option value="平">平</option>
                                <option value="不">不</option>
                                <option value="陷">陷</option>
                            </select>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}