{% extends "base.html" %}
{% block active_category %}active{% endblock active_category %}
{% block content %}
<h4 class="text-center">星曜分类</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">名称</th>
            <th scope="col">说明</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.name }}</td>
            <td>{{ category.describe }}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <form action="/categories/edit/{{ category.id}}" method="get">
                            <input type="number" value="{{ category.id}}" hidden />
                            <button type="submit" class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z">
                                    </path>
                                </svg>
                                <span class="visually-hidden">编辑</span>
                            </button>

                        </form>
                    </div>
                    <div class="col">
                        <form action="/categories/delete/{{ category.id}}" method="post">
                            <input type="number" value="{{ category.id}}" hidden />
                            <button type="submit" class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
                                    </path>
                                </svg>
                                <span class="visually-hidden">删除</span>
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="row">#</th>
            <form method="post" action="/categories">
                <td>
                    <input class="form-control" type="text" name="name" />
                    {% block name_error %} {% endblock name_error %}
                </td>
                <td>
                    <input class="form-control" type="text" name="describe" />
                    {% block describe_error %} {% endblock describe_error %}
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">新增</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
{% endblock content %}